@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: black;
  color: white;
}

main {
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
  line-height: 2.5;
}

span {
  line-height: 4;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* comments section */
.comment-form {
  border-top: 2px solid #cccccc;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.comment-form #commenter-name {
  height: 3rem; /* 16px = 1rem  */
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
  font-size: 1rem;
  padding: 0.6rem;
}

.comment-form #comment-message {
  min-width: 100%;
  min-height: 150px;
  resize: none;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
  font-size: 1rem;
  padding: 0.6rem;
}

.comment-form button {
  background-color: #cccccc;
  color: black;
  font-size: 1rem;
  padding: 12px 32px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
}
